[Global]
auth-url={{ auth_url }}
region={{ region }}
application-credential-id={{ app_credential_id }}
application-credential-secret={{ app_credential_secret }}
{% if ca_file %}
ca-file={{ ca_file }}
{% endif %}

[KeyManager]
use-barbican=true
{% if kek_id %}
key-id={{ kek_id }}
{% endif %}
