apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
      - secrets
    providers:
      - kms:
          apiVersion: v2
          name: barbican-kms
          endpoint: unix:///var/lib/kms/kms.sock
          timeout: 3s
      - identity: {}
