apiVersion: v1
kind: Config
clusters:
  - name: k8s-keystone-auth
    cluster:
      certificate-authority-data: {{ cert_b64 }}
      server: https://127.0.0.1:8443/webhook
users:
  - name: k8s-apiserver
contexts:
  - name: k8s-keystone-auth
    context:
      cluster: k8s-keystone-auth
      user: k8s-apiserver
current-context: k8s-keystone-auth
